{
  "branches": ["main"],
  "ci": true,
  "repositoryUrl": "https://github.com/SeeTicketsFr/Global-Testing.git",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {"preset": "conventionalcommits"}
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "types": [
            {"type": "build", "section": "Internals", "hidden": false},
            {"type": "chore", "section": "Internals", "hidden": false},
            {"type": "ci", "section": "Internals", "hidden": false},
            {"type": "docs", "section": "Internals", "hidden": false},
            {"type": "feat", "section": "Features", "hidden": false},
            {"type": "fix", "section": "Fixes", "hidden": false},
            {"type": "perf", "section": "Internals", "hidden": false},
            {"type": "refactor", "section": "Internals", "hidden": false},
            {"type": "revert", "section": "Internals", "hidden": false},
            {"type": "style", "section": "Internals", "hidden": false},
            {"type": "test", "section": "Internals", "hidden": false}
          ]
        }
      }
    ]
  ]
}
